# Ignorar dependencias de Node
node_modules/

# Ignorar el archivo de lock (opcional)
package-lock.json

# Ignorar recursos multimedia
recursos/imagenes/
recursos/videos/

# Ignorar configuración de VSCode
.vscode/

# Ignorar archivos por extensión
*.mp4
*.png
*.jpg
*.jpeg
*.gif
out/