# Dependencies
node_modules/
**/node_modules/ # Asegura que ignora node_modules en subdirectorios
/node/
/Prueba*/
/Pruebas anteriores/

# Multimedia
*.gif
*.jpg
*.jpeg
*.png
*.svg
*.webp
*.mp4
*.mov
*.avi
*.webm
*.mp3
*.wav